
#include "windows.h"
#include "PKINMENU.h"
#include "PKINDLOG.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
PREKINICON              ICON    DISCARDABLE     "PKPCPKIN.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

PREKINMENU MENU DISCARDABLE 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "&Open File...\tCtrl+O",       PKIN_FILEOPENFILE
        MENUITEM SEPARATOR
        MENUITEM "&New Pass",                   PKIN_FILENEWPASS
        MENUITEM "&Launch MAGE with this kin",  PKIN_LAUNCHCURRENT
        MENUITEM SEPARATOR
        MENUITEM "&Quit\tAtl+F4",               PKIN_FILEQUIT
    END
    POPUP "PREKIN"
    BEGIN
        MENUITEM "&About Options...",           PKIN_OPTIONSABOUTOPTIONS
        MENUITEM "&Mutations...",               PKIN_OPTIONSMUTATIONS
        MENUITEM "&Help-->HTML...",             PKIN_OPTIONSHELPHTML
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

INITIAL_DIALOG DIALOG DISCARDABLE  10, 15, 300, 125       //INIT_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PREKIN"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT, 4,  4,287,90
    ICON  "PrekinIcon",PKIN_ICON,   13,100, 20,20
    DEFPUSHBUTTON   "",DLOG_OK,     50,100,117,15
    PUSHBUTTON      "",DLOG_OPTION,172,100, 61,15
    PUSHBUTTON      "",DLOG_CANCEL,237,100, 50,15
END

ALERT_DIALOG DIALOG DISCARDABLE  10, 35, 281, 110        //REPORT_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PREKIN"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT                    "",DLOG_SUBJECT, 4, 4,275,75
    ICON           "PrekinIcon",PKIN_ICON,   13,88, 20,20
    DEFPUSHBUTTON     "Proceed",DLOG_OK,     51,88,117,15
    PUSHBUTTON  "Abort Program",DLOG_CANCEL,190,88, 53,14
END

RANGESTART_DIALOG DIALOG DISCARDABLE  10, 25, 300, 150 //RANGESTART_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Starting Ranges"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT,  3,  3,290,27
    CONTROL         "",DLOG_RADIOA,"Button",BS_AUTORADIOBUTTON,18,35,130,8
    CONTROL         "",DLOG_RADIOB,"Button",BS_AUTORADIOBUTTON,18,45,130,8
    CONTROL         "",DLOG_RADIOC,"Button",BS_AUTORADIOBUTTON,18,55,130,8
    CONTROL         "",DLOG_RADIOD,"Button",BS_AUTORADIOBUTTON,18,65,130,8
 //obselete: E: range list from file   
    CONTROL         "",DLOG_RADIOF,"Button",BS_AUTORADIOBUTTON, 5,90,130,8
    LTEXT           "",DLOG_INFO,     3,100,290,27
    DEFPUSHBUTTON   "",DLOG_OK,      10,133, 46,12
    PUSHBUTTON      "",DLOG_OPTION,  68,133, 80,12
    PUSHBUTTON      "",DLOG_CANCEL, 162,133, 80,12
END

BUILT-IN_SCRIPTS_DIALOG DIALOG DISCARDABLE  18, 18,270,170 //BUILTINSCRIPTS_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Built-in Scripts"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT,  4,  3,260,8
    CONTROL         "",DLOG_RADIOA,"Button",BS_AUTORADIOBUTTON,13, 17,250,8
    CONTROL         "",DLOG_RADIOB,"Button",BS_AUTORADIOBUTTON,13, 27,250,8
    CONTROL         "",DLOG_RADIOC,"Button",BS_AUTORADIOBUTTON,13, 37,250,8
    CONTROL         "",DLOG_RADIOD,"Button",BS_AUTORADIOBUTTON,13, 47,250,8
    CONTROL         "",DLOG_RADIOE,"Button",BS_AUTORADIOBUTTON,13, 57,250,8
    CONTROL         "",DLOG_RADIOF,"Button",BS_AUTORADIOBUTTON,13, 67,250,8
    CONTROL         "",DLOG_RADIOG,"Button",BS_AUTORADIOBUTTON,13, 77,250,8
    CONTROL         "",DLOG_RADIOH,"Button",BS_AUTORADIOBUTTON,13, 87,250,8
    CONTROL         "",DLOG_RADIOI,"Button",BS_AUTORADIOBUTTON,13, 97,250,8
    CONTROL         "",DLOG_RADIOJ,"Button",BS_AUTORADIOBUTTON,13,107,250,8
    LTEXT           "",DLOG_INFO,     4,122,260,24
    DEFPUSHBUTTON   "",DLOG_OK,       6,152, 46,12
    PUSHBUTTON      "",DLOG_OPTION,  66,152,100,12
    PUSHBUTTON      "",DLOG_CANCEL, 180,152, 80,12
END

EXT_SCRIPTS_DIALOG DIALOG DISCARDABLE  18, 18, 263, 68  //EXTERNALSCRIPT_DLOG
// obseletd 050929
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "External Scripts"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT, 3, 3,229, 8
    CONTROL         "",DLOG_RADIOA,"Button",BS_AUTORADIOBUTTON,13,18,130,8
    CONTROL         "",DLOG_RADIOB,"Button",BS_AUTORADIOBUTTON,13,27,130,8
    CONTROL         "",DLOG_RADIOC,"Button",BS_AUTORADIOBUTTON,13,37,130,8
    DEFPUSHBUTTON   "",DLOG_OK,      6,52, 35,12
    PUSHBUTTON      "",DLOG_OPTION, 63,52, 90,12
    PUSHBUTTON      "",DLOG_CANCEL,159,52, 90,12
END

RUNCONDITIONS_DIALOG DIALOG DISCARDABLE  26, 35, 225, 130  //RUNCONDITIONS_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Run Conditions"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT,  4,  3,210,13,NOT WS_GROUP
    EDITTEXT           DLOG_PARAMA,   4, 21, 25,12
    LTEXT           "",DLOG_TEXTA,   34, 23,185, 8
    EDITTEXT           DLOG_PARAMB,   4, 34, 25,12
    LTEXT           "",DLOG_TEXTB,   34, 36,185, 8
    EDITTEXT           DLOG_PARAMC,   4, 51, 25,12
    LTEXT           "",DLOG_TEXTC,   34, 53,185, 8
    RADIOBUTTON     "",DLOG_RADIOA,  14, 68,210, 8,WS_TABSTOP
    RADIOBUTTON     "",DLOG_RADIOB,  14, 78,210, 8,WS_TABSTOP
    RADIOBUTTON     "",DLOG_RADIOC,  14, 88,210, 8,WS_TABSTOP
    CHECKBOX        "",DLOG_CHECKA,  16,100,170, 8
    DEFPUSHBUTTON   "",DLOG_OK,       6,112, 35,12
    PUSHBUTTON      "",DLOG_CANCEL,  51,112, 88,12
END

RANGE_CONTROL_DIALOG DIALOG DISCARDABLE  10, 9, 340, 270  //RANGECONTROL_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Range Controls"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT, 2,  2,250,45
    LTEXT           "",DLOG_TEXTA,  50, 50,200, 8
    LTEXT           "",DLOG_TEXTB,  50, 62,200, 8
    LTEXT           "",DLOG_TEXTC,  50, 74,200, 8
    EDITTEXT        DLOG_PARAMA,     6, 48, 40,12,WS_GROUP
    EDITTEXT        DLOG_PARAMB,     6, 60, 40,12,WS_GROUP
    EDITTEXT        DLOG_PARAMC,     6, 72, 40,12,WS_GROUP

    CHECKBOX        "",DLOG_CHECKA, 16, 88,170, 8
    CHECKBOX        "",DLOG_CHECKB, 16, 98,170, 8
    CHECKBOX        "",DLOG_CHECKC, 16,108,170, 8
    CHECKBOX        "",DLOG_CHECKD, 16,118,170, 8
    CHECKBOX        "",DLOG_CHECKE, 16,128,170, 8
    CHECKBOX        "",DLOG_CHECKF, 16,138,170, 8
    CHECKBOX        "",DLOG_CHECKG, 16,148,170, 8
    CHECKBOX        "",DLOG_CHECKH, 16,158,170, 8
    CHECKBOX        "",DLOG_CHECKI, 16,168,170, 8
    CHECKBOX        "",DLOG_CHECKJ, 16,178,170, 8
    CHECKBOX        "",DLOG_CHECKK, 16,188,170, 8
    CHECKBOX        "",DLOG_CHECKL, 16,198,170, 8
    CHECKBOX        "",DLOG_CHECKM, 16,208,170, 8
    CHECKBOX        "",DLOG_CHECKN, 16,218,170, 8
    CHECKBOX        "",DLOG_CHECKO, 16,228,170, 8
    CHECKBOX        "",DLOG_CHECKP, 16,238,170, 8
    
    CHECKBOX        "",DLOG_CHECKQ,196, 48,140, 8
    CHECKBOX        "",DLOG_CHECKR,196, 58,140, 8
    CHECKBOX        "",DLOG_CHECKS,196, 68,140, 8
    CHECKBOX        "",DLOG_CHECKT,196, 78,140, 8
    
    CONTROL         "",DLOG_RADIOA,"Button",BS_AUTORADIOBUTTON,196, 88,140,8
    CONTROL         "",DLOG_RADIOB,"Button",BS_AUTORADIOBUTTON,196, 98,140,8
    CONTROL         "",DLOG_RADIOC,"Button",BS_AUTORADIOBUTTON,196,108,140,8
    CONTROL         "",DLOG_RADIOD,"Button",BS_AUTORADIOBUTTON,196,118,140,8
    CONTROL         "",DLOG_RADIOE,"Button",BS_AUTORADIOBUTTON,196,128,140,8
    CONTROL         "",DLOG_RADIOF,"Button",BS_AUTORADIOBUTTON,196,138,140,8
    CONTROL         "",DLOG_RADIOG,"Button",BS_AUTORADIOBUTTON,196,148,140,8
    CONTROL         "",DLOG_RADIOH,"Button",BS_AUTORADIOBUTTON,196,158,140,8

    LTEXT           "",DLOG_CHECKLAST_CAPTION,196,168,140,8

    CHECKBOX        "",DLOG_CHECKU,196,178,140,8
    CONTROL         "",DLOG_RADIOM,"Button",BS_AUTORADIOBUTTON,196,188,140,8
    CONTROL         "",DLOG_RADION,"Button",BS_AUTORADIOBUTTON,196,198,140,8
    CONTROL         "",DLOG_RADIOO,"Button",BS_AUTORADIOBUTTON,196,208,140,8

    PUSHBUTTON      "",DLOG_OK,      6,254, 34,12
    PUSHBUTTON      "",DLOG_OPTION, 85,254, 80,12
    PUSHBUTTON      "",DLOG_CANCEL,173,254, 80,12
END

ATOMMARKER_DIALOG DIALOG DISCARDABLE  10, 22, 204, 97  //ATOMMARKER_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Atom Marker"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT, 3,3,194,10
    EDITTEXT           DLOG_PARAMA,  6,16,38,12,WS_GROUP
    EDITTEXT           DLOG_PARAMB,  6,29,38,12,WS_GROUP
    LTEXT           "",DLOG_TEXTA,  48,19,136,8
    LTEXT           "",DLOG_TEXTB,  48,32,136,8
    RADIOBUTTON     "",DLOG_RADIOA, 13,46,150,8,WS_TABSTOP
    RADIOBUTTON     "",DLOG_RADIOB, 13,56,150,8,WS_TABSTOP
    RADIOBUTTON     "",DLOG_RADIOC, 13,66,150,8,WS_TABSTOP
    PUSHBUTTON      "",DLOG_OK,      6,81,34,12
    PUSHBUTTON      "",DLOG_CANCEL, 45,81,90,12
END

FOCUSOPTIONS_DIALOG DIALOG DISCARDABLE  18, 18, 205, 78  //FOCUSOPTIONS_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Focus Options"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT,  4,  3,193, 8
    CONTROL         "",DLOG_RADIOA,"Button",BS_AUTORADIOBUTTON,13,18,150,8
    CONTROL         "",DLOG_RADIOB,"Button",BS_AUTORADIOBUTTON,13,28,150,8
    CONTROL         "",DLOG_RADIOC,"Button",BS_AUTORADIOBUTTON,13,38,150,8
    CONTROL         "",DLOG_RADIOD,"Button",BS_AUTORADIOBUTTON,13,48,150,8
    DEFPUSHBUTTON   "",DLOG_OK,       6, 62, 35,12
    PUSHBUTTON      "",DLOG_CANCEL, 105, 62, 80,12
END

FOCUSPARAM_DIALOG DIALOG DISCARDABLE  20, 20, 260, 160  //FOCUSPARAM_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Focus Parameters" // focus on xyz point
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT, 3,  3,250,10
    EDITTEXT           DLOG_PARAMA,  6, 17, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAMB,  6, 30, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAMC,  6, 43, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAMD,  6, 64, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAME,  6, 77, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAMF,  6, 90, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAMG,  6,103, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAMH,  6,116, 40,12,WS_GROUP
    LTEXT           "",DLOG_TEXTA,  50, 19, 27, 8
    LTEXT           "",DLOG_TEXTB,  50, 32, 24, 8
    LTEXT           "",DLOG_TEXTC,  50, 45, 23, 8
    LTEXT           "",DLOG_TEXTD,  50, 66,120, 8
    LTEXT           "",DLOG_TEXTE,  50, 79,120, 8
    LTEXT           "",DLOG_TEXTF,  50, 92,130, 8
    LTEXT           "",DLOG_TEXTG,  50,105,120, 8
    LTEXT           "",DLOG_TEXTH,  50,118,120, 8
    PUSHBUTTON      "",DLOG_OK,      6,140, 34,12
    PUSHBUTTON      "",DLOG_OPTION, 50,140,105,12
    PUSHBUTTON      "",DLOG_CANCEL,165,140, 90,12
END

FOCUSRESIDUE_DIALOG DIALOG DISCARDABLE  20, 20, 260, 130  //FOCUSBYRESNUM_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Focus Residue" // focus on a residue
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT, 3,  3,250,10
    EDITTEXT           DLOG_PARAMA,  6, 17, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAMB,  6, 30, 40,12,WS_GROUP

    EDITTEXT           DLOG_PARAME,  6, 43, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAMF,  6, 64, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAMG,  6, 77, 40,12,WS_GROUP
    EDITTEXT           DLOG_PARAMH,  6, 90, 40,12,WS_GROUP

    LTEXT           "",DLOG_TEXTA,  50, 19, 27, 8
    LTEXT           "",DLOG_TEXTB,  50, 32, 24, 8

    LTEXT           "",DLOG_TEXTE,  50, 45, 23, 8
    LTEXT           "",DLOG_TEXTF,  50, 66,120, 8
    LTEXT           "",DLOG_TEXTG,  50, 79,120, 8
    LTEXT           "",DLOG_TEXTH,  50, 92,130, 8

    PUSHBUTTON      "",DLOG_OK,      6,110, 34,12
    PUSHBUTTON      "",DLOG_OPTION, 50,110,105,12
    PUSHBUTTON      "",DLOG_CANCEL,165,110, 90,12
END

KLUDGES_DIALOG DIALOG DISCARDABLE  6,  6, 210, 225   //KLUDGES_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Kludges"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT,      3,  3,200,10
    LTEXT           "",DLOG_CHECK_CAPTION,3, 17,200,10
    CHECKBOX        "",DLOG_CHECKA,      14, 30,170, 8
    CHECKBOX        "",DLOG_CHECKB,      14, 40,170, 8
    CHECKBOX        "",DLOG_CHECKC,      14, 50,170, 8
    CHECKBOX        "",DLOG_CHECKD,      14, 60,170, 8
    CHECKBOX        "",DLOG_CHECKE,      14, 70,170, 8
    CHECKBOX        "",DLOG_CHECKF,      14, 80,170, 8
    CHECKBOX        "",DLOG_CHECKG,      14, 90,170, 8
    CHECKBOX        "",DLOG_CHECKH,      14,100,170, 8
    CHECKBOX        "",DLOG_CHECKI,      14,110,170, 8
    CHECKBOX        "",DLOG_CHECKJ,      14,120,170, 8
    CHECKBOX        "",DLOG_CHECKK,      14,130,170, 8
    CHECKBOX        "",DLOG_CHECKL,      14,140,170, 8
    CHECKBOX        "",DLOG_CHECKM,      14,150,170, 8
    LTEXT           "",DLOG_RADIO_CAPTION,3,160,200,10
    RADIOBUTTON     "",DLOG_RADIOA,      13,175,120, 8,WS_TABSTOP
    RADIOBUTTON     "",DLOG_RADIOB,      13,185,120, 8,WS_TABSTOP
    RADIOBUTTON     "",DLOG_RADIOC,      13,195,120, 8,WS_TABSTOP
    PUSHBUTTON      "",DLOG_OK,           6,210, 34,12
    PUSHBUTTON      "",DLOG_CANCEL,      45,210, 49,12
END

SCNUMBER_DIALOG DIALOG DISCARDABLE  10, 9, 314, 116  // NOT in use 050929
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "SC by Number Controls"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT,  3,  3,304,40
    LTEXT           "",DLOG_TEXTA,   34, 52,100, 8
    EDITTEXT           DLOG_PARAMA,   5, 50, 24,12
    CONTROL         "",DLOG_RADIOA,"Button",BS_AUTORADIOBUTTON,13,69,135,8
    CONTROL         "",DLOG_RADIOB,"Button",BS_AUTORADIOBUTTON,13,79,135,8
    CONTROL         "",DLOG_RADIOC,"Button",BS_AUTORADIOBUTTON,13,89,135,8
    PUSHBUTTON      "",DLOG_OK,       6,101, 37,12
    PUSHBUTTON      "",DLOG_OPTION,  48,101, 70,12
    PUSHBUTTON      "",DLOG_CANCEL, 123,101, 70,12
END

RIBBON_DIALOG DIALOG DISCARDABLE  20, 25, 270, 275  //RIBBON_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ribbon Control"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT        "",DLOG_SUBJECT,  2,  3,253,16
    EDITTEXT        DLOG_PARAMA,   6, 23, 40,12,WS_GROUP
    EDITTEXT        DLOG_PARAMB,   6, 36, 40,12,WS_GROUP
    EDITTEXT        DLOG_PARAMC,   6, 49, 40,12,WS_GROUP
    EDITTEXT        DLOG_PARAMD,   6, 62, 40,12,WS_GROUP
    EDITTEXT        DLOG_PARAME,   6, 75, 40,12,WS_GROUP
    EDITTEXT        DLOG_PARAMF,   6, 88, 40,12,WS_GROUP
    EDITTEXT        DLOG_PARAMG,   6,101, 40,12,WS_GROUP
    EDITTEXT        DLOG_PARAMH,   6,114, 40,12,WS_GROUP
    LTEXT        "",DLOG_TEXTA,   54, 26,205, 8
    LTEXT        "",DLOG_TEXTB,   54, 39,205, 8
    LTEXT        "",DLOG_TEXTC,   54, 52,205, 8
    LTEXT        "",DLOG_TEXTD,   54, 65,205, 8
    LTEXT        "",DLOG_TEXTE,   54, 78,205, 8
    LTEXT        "",DLOG_TEXTF,   54, 91,205, 8
    LTEXT        "",DLOG_TEXTG,   54,104,205, 8
    LTEXT        "",DLOG_TEXTH,   54,117,205, 8
      
    CHECKBOX     "",DLOG_CHECKA,  13,127,200, 8
    CHECKBOX     "",DLOG_CHECKB,  13,137,200, 8
    CHECKBOX     "",DLOG_CHECKC,  13,147,200, 8
    CHECKBOX     "",DLOG_CHECKD,  13,157,200, 8
    CHECKBOX     "",DLOG_CHECKE,  13,167,200, 8    
    CHECKBOX     "",DLOG_CHECKF,  13,177,200, 8    
    CHECKBOX     "",DLOG_CHECKG,  13,187,200, 8    
    CHECKBOX     "",DLOG_CHECKH,  13,197,200, 8    
    CHECKBOX     "",DLOG_CHECKI,  13,207,200, 8    
    CHECKBOX     "",DLOG_CHECKJ,  13,217,200, 8
    
    RADIOBUTTON  "",DLOG_RADIOA,  12,227,200, 8,WS_TABSTOP
    RADIOBUTTON  "",DLOG_RADIOB,  12,237,200, 8,WS_TABSTOP    
    RADIOBUTTON  "",DLOG_RADIOC,  12,247,200, 8,WS_TABSTOP

    PUSHBUTTON   "",DLOG_OK,       6,257, 34,12
    PUSHBUTTON   "",DLOG_OPTION,  61,257, 75,12
    PUSHBUTTON   "",DLOG_CANCEL, 141,257, 75,12
END

COLORSCALE_DIALOG DIALOG DISCARDABLE  20, 25, 260, 190 //COLORSCALE_DLOG
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Color Scale"
FONT 12, "MS Sans Serif"
BEGIN
    LTEXT           "",DLOG_SUBJECT, 3,  3,200,10
    
    EDITTEXT           DLOG_PARAMA,  6, 17, 40,12,WS_GROUP
    LTEXT           "",DLOG_TEXTA,  50, 19, 27, 8
    EDITTEXT           DLOG_PARAMB,  6, 30, 40,12,WS_GROUP
    LTEXT           "",DLOG_TEXTB,  50, 32, 24, 8
    EDITTEXT           DLOG_PARAMC,  6, 43, 40,12,WS_GROUP
    LTEXT           "",DLOG_TEXTC,  50, 45, 23, 8
    EDITTEXT           DLOG_PARAMD,  6, 64, 40,12,WS_GROUP
    LTEXT           "",DLOG_TEXTD,  50, 66,120, 8
    EDITTEXT           DLOG_PARAME,  6, 77, 40,12,WS_GROUP
    LTEXT           "",DLOG_TEXTE,  50, 79,120, 8
    EDITTEXT           DLOG_PARAMF,  6, 90, 40,12,WS_GROUP
    LTEXT           "",DLOG_TEXTF,  50, 92,120, 8
    EDITTEXT           DLOG_PARAMG,  6,103, 40,12,WS_GROUP
    LTEXT           "",DLOG_TEXTG,  50,105,120, 8
    EDITTEXT           DLOG_PARAMH,  6,116, 40,12,WS_GROUP
    LTEXT           "",DLOG_TEXTH,  50,118,120, 8
    EDITTEXT           DLOG_PARAMI,  6,129, 40,12,WS_GROUP
    LTEXT           "",DLOG_TEXTI,  50,131,120, 8
    
    CONTROL         "",DLOG_RADIOA,"Button",BS_AUTORADIOBUTTON,13,150,120,8
    CONTROL         "",DLOG_RADIOB,"Button",BS_AUTORADIOBUTTON,13,160,120,8
    CONTROL         "",DLOG_RADIOC,"Button",BS_AUTORADIOBUTTON,13,170,120,8
    PUSHBUTTON      "",DLOG_OK,      6,190, 34,12
    PUSHBUTTON      "",DLOG_OPTION, 50,190,105,12
    PUSHBUTTON      "",DLOG_CANCEL,165,190, 90,12
END


PREKINACCELERATOR ACCELERATORS DISCARDABLE 
BEGIN
    "O",            PKIN_FILEOPENFILE,      VIRTKEY, CONTROL, NOINVERT
END

